<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

  
    <h1>TODO APP</h1>
    <hr>
    <form action="/todo" method="post">
       
    <input type="text" name="title" for="title" id="title"> 
     <input type="text" name="description" for="description" id="description"> 
     <button>ADD </button>
    </form>

   
       
    <% if(todos.length > 0) { %>
        <% todos.forEach(todo => { %>
            <h3 class="title"><%= todo.title %> </h3>
            <p class="description"><%= todo.description %> </p>

       <% }) %>
        
  <%  } %> 
       
    
</body>
</html>